{%extends 'base.html'%} {%block body%} {%load static%}

<!-- Contact Section -->

<div class="knowledge_section layout_padding">
  <div class="container">
    <div class="knowledge_main">
      <div class="left_main">
        <h1 class="knowledge_taital">Knowledge of center</h1>
        <p class="knowledge_text">
          One of the key components of happiness that a person requires in life
          is good health. We can observe a variety of folks nearby who are
          content despite not having much money. They like their lives and are
          in good health, which makes them content. Many people with much money
          who can afford anything they want are also visible but do not appear
          to be completely content. Additionally, they are not happy with their
          lifestyles. Most of the time, wealthy people's sorrow can be
          attributed to their poor health and preoccupation with it. However,
          they cannot use their money to purchase good health.
        </p>
      </div>
      <div class="right_main">
        <div class="play_icon">
          <a href="https://www.youtube.com/embed/ogvbNLLL4WQ"
            ><img src="{%static 'images/play-icon.png'%}"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- knowledge section end -->
<!-- news section start -->

<div class="news_section layout_padding">
  <div class="container">
    <h1 class="health_taital">Why choose 24hr home care</h1>
    <p class="health_text">
      Time has great importance in human life, including: Time is related to all
      that is going on around us, so we often hear about the time dimension,
      because time is an essential element of life. Time represents special
      milestones, including birthdays, anniversaries and the birth of babies and
      helps us organize our daily lives and activities, so we can live a more
      organized and productive life.
    </p>
    <div class="news_section_2 layout_padding">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="box_main">
            <div class="icon_1">
              <img src="{%static 'images/icon-2.png'%}" />
            </div>
            <h4 class="daily_text">Daily care experts contact : 0445-78320</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box_main active">
            <div class="icon_1">
              <img src="{%static 'images/icon-3.png'%}" />
            </div>
            <h4 class="daily_text_1">Available 24/7 contact : 04239-12894</h4>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box_main">
            <div class="icon_1">
              <img src="{%static 'images/icon-4.png'%}" />
            </div>
            <h4 class="daily_text_1">Balanced care contact : 04563-78953</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="getquote_bt">
      <a href="#"
        >Get A Quote
        <span><img src="{%static 'images/right-arrow.png'%}" /></span
      ></a>
    </div>
  </div>
</div>

<!-- Contact Section end-->

{%endblock%}
