{%extends 'base.html'%} {%block body%}

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="margin-top: 30px">

<!-- Patient Updation -->

<div class="card" style="width: 100%">
  <div class="card-body">
    <h1 class="health_taital"><strong>Edit Booking</strong></h1>
    <form action="" method="post">
      {%csrf_token%} {{form.as_p}}
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- Patient Updation end -->

    </div>
    <div class="col-4"></div>
  </div>
</div>

{%endblock%}
